body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-appearance: none;
	overflow: hidden;
	height: 100%;
}

html::-webkit-scrollbar {
	-webkit-appearance: none;
}

.context {
	width: 49%;
	display: inline-block;
	height: 90vh;
	margin-left: 10px;
}

.context2::-webkit-scrollbar {
	-webkit-appearance: none;
}

#img {
	display: block;
	margin-top: 10%;
	margin-left: 25%;
	padding: 0;
}

@media (max-width: 1500px) {
	#img {
		margin-top: 5px;
		margin-left: 5px;
	}
}

@media (max-width: 600px) {
	#img {
		margin: auto;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
